.full{

}
.small-image{
    width:60px;
    height: 60px;
    border-radius: 50% !important;
    margin:10px;
    overflow: hidden;
}
.top-content{
    display:flex;
    align-items: center;
    flex-direction: row;
    padding:20px;
}
.img-container{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ion-content-card{
       
    max-width: 800px;
}
.card-container{
    text-align:center;
    display:flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.card-content{
    text-align: left; 
}