<ion-header>
  <ion-toolbar>
    <ion-title>Meeting Master</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <img src="assets/videoconference.svg" class="titleImg">
    <div class="title">
      <b>Meeting Master</b>
      <p>Arranging a meeting has never been easier</p>
    </div>
    <ion-button class="startingButton" color="primary" (click)="signInGoogle()"> Sign In with Google</ion-button>
    <div class="bottom">
      <p>
        All Rights Reserved ©&nbsp;-&nbsp;
      </p>
      <p>
        Ariel Nowik&nbsp;-&nbsp;
      </p>
      <p>
        ariel.nowik@gmail.com
      </p>
    </div>
  </div>
</ion-content>

<!--<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title class="smallText">
      
    </ion-title>
  </ion-toolbar>
</ion-footer>-->