<ion-slides #mySlider  pager="false" class="slideContainer">
  <ion-slide  *ngFor="let slide of calendarSlides"  class="myContainer">
    <div class="upContainer">
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="this.mode=='date'" size="1.5" class="weekday table-item-top">
            {{getMonthCode(slide.cols[0])}}
          </ion-col>
          <ion-col *ngIf="this.mode=='week'" size="1.5" class="weekday table-item-top">
            Hs
          </ion-col>
          <ion-col size="1.5" class="table-item-top" *ngFor="let col of slide.cols ; last as isLastCol"
          [ngClass]="
              {
                'right-table-item': isLastCol
              }"
            >
            <div *ngIf="col!='voidcol' && this.mode=='date'" >
              {{convertToTinyFormat(col, mode)[1]}}<br>
            </div>
            <div class="weekday" *ngIf="col!='voidcol' && this.mode=='date'" >
              <b>{{convertToTinyFormat(col, mode)[0]}}</b>
            </div>
            <div class="weekday" *ngIf="col!='voidcol' && this.mode=='week'" >
              <b>{{convertToTinyFormat(col, mode)[0]}}</b>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
    <div id="slideElement{{slide.id}}" class="dateContainer" (scroll)="scrollChange(slide.id, $event)">
      <div class="insideDateCointainer" >
        <ion-grid >
          <ion-row *ngFor="let row of slide.rows; last as isLastRow">
            <ion-col size="1.5" class="table-item" 
            [ngClass]="
            {
              'bottom-table-item': isLastRow
            }">
              {{row}}
            </ion-col>
            <ion-col size="1.5" *ngFor="let col of slide.cols; last as isLastCol" class="no-margin">
              <ion-button fill="clear" class="table-item " [ngClass]="
              {
                'bottom-table-item': isLastRow, 
                'right-table-item': isLastCol,
                'void-item': col=='voidcol',
                'red-background': timeOccupied(col + 'T' + row),
                'green-background': !timeOccupied(col + 'T' + row)
              }"
              (click)="click(col, row)"
              >

              <div *ngIf="timeOccupied(col + 'T' + row)">
                <ion-icon class="icon" name="close-circle-outline"></ion-icon>
              </div>
              <div *ngIf="!timeOccupied(col + 'T' + row) && !(col=='voidcol')">
                <ion-icon class="green-icon" name="checkmark-outline"></ion-icon>
              </div>

              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!--<ion-grid>
        <ion-row *ngFor="let row of slide.rows; last as isLastRow">
          <ion-col size="1.5" class="table-item">
            {{row}}
          </ion-col>
          <ion-col size="1.5" *ngFor="let col of slide.cols; last as isLastCol" class="no-margin">
            <div class="table-item" [ngClass]="
            {
              'bottom-table-item': isLastRow, 
              'right-table-item': isLastCol,
              'void-item': col=='voidcol'
            }"
            >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>-->
    </div>
  </ion-slide>
</ion-slides>
