<ion-slides pager="true" [options]="slideOpts" class="slideContainer">
  <ion-slide *ngFor="let slide of calendarSlides" class="myContainer" >
    <div class="upContainer">
      <ion-grid>
        <ion-row>
          <ion-col size="1.5" class="table-item-top">
            
          </ion-col>
          <ion-col 
          size="1.5" 
          class="table-item-top" 
          *ngFor="let col of slide.cols ; last as isLastCol"
          [ngClass]="
          {
            'right-table-item': isLastCol
          }"
          >
            <div *ngIf="col!='voidcol'"
            >
              {{convertToTinyFormat(col)[1]}}<br>
              {{convertToTinyFormat(col)[0]}}
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
    <div class="dateContainer">
      <div class="insideDateCointainer">
        <ion-grid>
          <ion-row *ngFor="let row of slide.rows; last as isLastRow">
            <ion-col 
            size="1.5" 
            class="table-item"
            [ngClass]="
            {
              'bottom-table-item': isLastRow
            }"
            >
              {{row}}
            </ion-col>
            <ion-col size="1.5" *ngFor="let col of slide.cols; last as isLastCol" class="no-margin">
              <div class="table-item " [ngClass]="
              {
                'bottom-table-item': isLastRow, 
                'right-table-item': isLastCol,
                'void-item': col=='voidcol',
                'green-background': timeAvailable(col + 'T' + row)
              }"
              >

              <div *ngIf="timeAvailable(col + 'T' + row)">
                <ion-icon name="checkmark"></ion-icon>
              </div>

              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!--<ion-grid>
        <ion-row *ngFor="let row of slide.rows; last as isLastRow">
          <ion-col size="1.5" class="table-item">
            {{row}}
          </ion-col>
          <ion-col size="1.5" *ngFor="let col of slide.cols; last as isLastCol" class="no-margin">
            <div class="table-item" [ngClass]="
            {
              'bottom-table-item': isLastRow, 
              'right-table-item': isLastCol,
              'void-item': col=='voidcol'
            }"
            >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>-->
    </div>
  </ion-slide>
</ion-slides>
