
<ion-list>

  <ion-item 
  *ngFor="let person of (peopleDataSorted | async)" 
  class="ion-align-items-center"
  [ngClass]="{
    'checked-item': checked(person.id), 
    'not-checked-item': !checked(person.id) }"
    >
    
    <ion-label>
      {{person.name}} 
    </ion-label>
    <ion-img class="small-image" [src]="person.image_url"></ion-img>

    <ion-checkbox
    color="primary" 
    [(ngModel)]="dataSelected[person.id]" slot="start" 
    (ionChange)="ionChange($event, person)">
    </ion-checkbox>
  </ion-item>
</ion-list>