<ion-header>
  <ion-toolbar>
    <ion-title>Select your availability</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-circle-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div>
    <app-dynamic-calendar (pageUpdated)="pageUpdated($event)" (numberOfPagesUpdated)="numberOfPagesUpdated($event)" [settings]="calendarSettings" [timetable]="testTimetable">
    </app-dynamic-calendar>
  </div>
</ion-content>

<ion-footer class="footer">

  <ion-button  *ngIf="lastSlide" class="footer-button" (click)="save()">
    <ion-label>Save</ion-label>&nbsp;
    <ion-icon name="send">  </ion-icon>
  </ion-button>

  <ion-button *ngIf="!lastSlide" class="footer-button" (click)="save()">
    <ion-label>Next Page</ion-label>&nbsp;
    <ion-icon name="arrow-forward-outline">  </ion-icon>
  </ion-button>

</ion-footer>