<ion-header>
  <ion-toolbar>
    <ion-title>{{meetingId}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-circle-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      
      <ion-tab-button tab="select-people">
        <ion-label>Select people</ion-label>
        <ion-icon name="people-circle-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="current-timetable">
        <ion-label>Timetable</ion-label>
        <ion-icon name="calendar-clear-outline"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
</ion-content>
